.form-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 10px;
}
.formuser{
    background-color: white;
    width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    margin-top: 100px;

    & p {
        font-weight: 500;
        font-size: 30px;
    }
}
.infos{
    display: flex;
    gap: 20px;
}
.actions{
    padding: 20px;
}
.actions > button{
    width: 200px;
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 17.5px;
}
.form-fields{
    width: 100%;
    background: #ECECEC;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
 }

 @media (max-width: 900px) {

    .formuser {
        width: 95%;
    }
    .formuser p {
        font-size: 20px;
    }
 }